.footer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  background: var(--primary-blue-color);
}

.footer-wrapper {
  display: flex;
}

.footer-copy {
  font-size: 12px;
  color: var(--main-color);
  position: relative;
  top: -5px;
  left: 10px;
}

.footer-navbar {
  margin-left: auto;
}

.footer-link {
  margin-left: 20px;
  font-size: 12px;
  color: var(--main-color);
}
